<html>

<body>

<form action="/add-trip" method="POST">

<input type="text" placeholder="Enter the destination" name="destination"/> 
<input type="text" placeholder="Enter the image URL" name="imageUrl"/> 
<input type="text" placeholder="Enter the departure date" name="departureDate"/> 
<input type="text" placeholder="Enter the return date" name="returnDate"/> 
<button>Save Trip</button>

</form>

</body>


</html>